/* src/style/configmodel.css */


/* =======================
   CONFIG MODAL (JARVIS HUD)
   ======================= */

.config-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.70);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-out;
    z-index: 9999;
}

.config-container {
    background: rgba(15, 17, 22, 0.96);
    border: 2px solid #00eaff;
    border-radius: 10px;
    width: 420px;
    max-width: 90%;
    padding: 20px;
    box-shadow: 0 0 25px #00eaff88;
    animation: scaleIn 0.25s ease;
    position: relative;
}


/* HEADER */

.config-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #00eaff55;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.config-title {
    color: #00eaff;
    font-size: 1.4rem;
    text-shadow: 0 0 10px #00eaff;
    letter-spacing: 1px;
}

.config-close-bt {
    background: transparent;
    border: none;
    color: #ff0033;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s ease;
    text-shadow: 0 0 8px #ff0033aa;
}

.config-close-bt:hover {
    color: #ff3355;
    transform: scale(1.2);
}


/* BODY */

.config-body h3 {
    color: #00eaff;
    font-size: 1.2rem;
    text-shadow: 0 0 8px #00eaffaa;
    margin-bottom: 5px;
}

.config-block {
    margin-bottom: 20px;
    padding: 12px;
    background: rgba(0, 238, 255, 0.05);
    border-left: 5px solid #ff0000ee;
}

.config-block p {
    color: #d6f7ff;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.config-separator {
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #00eaffec, transparent);
    margin: 20px 0;
}

.config-action-btn {
    background: #00eaff;
    border: 1px solid #070606;
    color: #030303;
    padding: 10px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.25s;
    width: 100%;
    text-shadow: 0 0 8px #00eaff;
    letter-spacing: 1px;
}


/* ESTADO ATIVO (3D ON) = VERDE */

.config-action-btn.btn-on {
    background: #00ff62;
    color: #000;
    box-shadow: 0 0 12px #00ff62aa;
}

.config-action-btn.btn-on:hover {
    background: #00cc50;
    box-shadow: 0 0 18px #00ff62;
}

.config-action-btn.btn-off {
    background: #ff0033;
    color: #fff;
    box-shadow: 0 0 12px #ff0033aa;
}

.config-action-btn.btn-off:hover {
    background: #cc0028;
    box-shadow: 0 0 18px #ff0033;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.85);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}