/* src/index.css */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 9999;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Overlay escuro por cima do vídeo */
}


.loader {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(255, 255, 255, 0.1);
  border-top: 6px solid #32cdf0;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-text {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #32cdf0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  text-shadow: 0 0 8px #32cdf0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #32cdf0;
  width: 20ch;
  animation: typing 2s steps(20), blink 0.8s step-end infinite;
}

.loading-gif {
  width: auto; /* ou outro tamanho que você preferir */
  height: auto;
  margin-top: 20px;
}

@keyframes typing {
  from { width: 0; }
  to { width: 20ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

